:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: relative;
  z-index: 10;
  height: var(--toolbar-height);
  min-height: var(--toolbar-height);
  background: #004f4f;
  color: #00dddd;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  align-items: center;
  justify-content: center;
}
