<div class="historyButtonContainer">
  <button #showPreviousBtn class="historyButton" (click)="previousObject()"
    [disabled]="!unityCommunicatorService.canShowPreviousObject()">
    <mat-icon class="chevronIcon">chevron_left</mat-icon>
  </button>
  <button #showNextBtn class="historyButton" (click)="nextObject()"
    [disabled]="!unityCommunicatorService.canShowNextObject()">
    <mat-icon class="chevronIcon">chevron_right</mat-icon>
  </button>
</div>

<div class="sideMenuContainer">
  <button class="sideMenuButton" (click)="focusObject()">
    <mat-icon class="sideMenuIcon">view_in_ar</mat-icon>
  </button>
  <mat-divider class="sideMenuDivider" />

  @let objectUri = unityCommunicatorService.objectUri();

  @if (objectUri !== '') {
  <a class="sideMenuLink" [href]="unityCommunicatorService.objectUri()" download>
    <mat-icon class="sideMenuIcon">download</mat-icon>
  </a>
  } @else {
  <button class="sideMenuButton" disabled>
    <mat-icon class="sideMenuIcon">download</mat-icon>
  </button>
  }

  <mat-divider class="sideMenuDivider" />
  <a class="sideMenuLink" [href]="githubUrl" target="_blank" rel="noopener">
    <mat-icon class="sideMenuIcon">code</mat-icon>
  </a>
</div>